In [1]:
import numpy as np
import pandas as pd 
from yahoocalls import *

In [3]:
altman_calc("nptx")

-176.1622342548837

In [6]:
df = pd.read_csv("data.csv")

In [65]:
df

,Bankrupt?,ROA(C) before interest and depreciation before interest,ROA(A) before interest and % after tax,ROA(B) before interest and depreciation after tax,Operating Gross Margin,Realized Sales Gross Margin,Operating Profit Rate,Pre-tax net Interest Rate,After-tax net Interest Rate,Non-industry income and expenditure/revenue,...,Net Income to Total Assets,Total assets to GNP price,No-credit Interval,Gross Profit to Sales,Net Income to Stockholder's Equity,Liability to Equity,Degree of Financial Leverage (DFL),Interest Coverage Ratio (Interest expense to EBIT),Net Income Flag,Equity to Liability
0,1,0.370594,0.424389,0.405750,0.601457,0.601457,0.998969,0.796887,0.808809,0.302646,...,0.716845,0.009219,0.622879,0.601453,0.827890,0.290202,0.026601,0.564050,1,0.016469
1,1,0.464291,0.538214,0.516730,0.610235,0.610235,0.998946,0.797380,0.809301,0.303556,...,0.795297,0.008323,0.623652,0.610237,0.839969,0.283846,0.264577,0.570175,1,0.020794
2,1,0.426071,0.499019,0.472295,0.601450,0.601364,0.998857,0.796403,0.808388,0.302035,...,0.774670,0.040003,0.623841,0.601449,0.836774,0.290189,0.026555,0.563706,1,0.016474
3,1,0.399844,0.451265,0.457733,0.583541,0.583541,0.998700,0.796967,0.808966,0.303350,...,0.739555,0.003252,0.622929,0.583538,0.834697,0.281721,0.026697,0.564663,1,0.023982
4,1,0.465022,0.538432,0.522298,0.598783,0.598783,0.998973,0.797366,0.809304,0.303475,...,0.795016,0.003878,0.623521,0.598782,0.839973,0.278514,0.024752,0.575617,1,0.035490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6814,0,0.493687,0.539468,0.543230,0.604455,0.604462,0.998992,0.797409,0.809331,0.303510,...,0.799927,0.000466,0.623620,0.604455,0.840359,0.279606,0.027064,0.566193,1,0.029890
6815,0,0.475162,0.538269,0.524172,0.598308,0.598308,0.998992,0.797414,0.809327,0.303520,...,0.799748,0.001959,0.623931,0.598306,0.840306,0.278132,0.027009,0.566018,1,0.038284
6816,0,0.472725,0.533744,0.520638,0.610444,0.610213,0.998984,0.797401,0.809317,0.303512,...,0.797778,0.002840,0.624156,0.610441,0.840138,0.275789,0.026791,0.565158,1,0.097649
6817,0,0.506264,0.559911,0.554045,0.607850,0.607850,0.999074,0.797500,0.809399,0.303498,...,0.811808,0.002837,0.623957,0.607846,0.841084,0.277547,0.026822,0.565302,1,0.044009
6818,0,0.493053,0.570105,0.549548,0.627409,0.627409,0.998080,0.801987,0.813800,0.313415,...,0.815956,0.000707,0.626680,0.627408,0.841019,0.275114,0.026793,0.565167,1,0.233902

In [36]:
df.columns

Index(['Bankrupt?', ' ROA(C) before interest and depreciation before interest',
       ' ROA(A) before interest and % after tax',
       ' ROA(B) before interest and depreciation after tax',
       ' Operating Gross Margin', ' Realized Sales Gross Margin',
       ' Operating Profit Rate', ' Pre-tax net Interest Rate',
       ' After-tax net Interest Rate',
       ' Non-industry income and expenditure/revenue',
       ' Continuous interest rate (after tax)', ' Operating Expense Rate',
       ' Research and development expense rate', ' Cash flow rate',
       ' Interest-bearing debt interest rate', ' Tax rate (A)',
       ' Net Value Per Share (B)', ' Net Value Per Share (A)',
       ' Net Value Per Share (C)', ' Persistent EPS in the Last Four Seasons',
       ' Cash Flow Per Share', ' Revenue Per Share (Yuan ¥)',
       ' Operating Profit Per Share (Yuan ¥)',
       ' Per Share Net profit before tax (Yuan ¥)',
       ' Realized Sales Gross Profit Growth Rate',
       ' Operating Profit Growth Rate', ' After-tax Net Profit Growth Rate',
       ' Regular Net Profit Growth Rate', ' Continuous Net Profit Growth Rate',
       ' Total Asset Growth Rate', ' Net Value Growth Rate',
       ' Total Asset Return Growth Rate Ratio', ' Cash Reinvestment %',
       ' Current Ratio', ' Quick Ratio', ' Interest Expense Ratio',
       ' Total debt/Total net worth', ' Debt ratio %', ' Net worth/Assets',
       ' Long-term fund suitability ratio (A)', ' Borrowing dependency',
       ' Contingent liabilities/Net worth',
       ' Operating profit/Paid-in capital',
       ' Net profit before tax/Paid-in capital',
       ' Inventory and accounts receivable/Net value', ' Total Asset Turnover',
       ' Accounts Receivable Turnover', ' Average Collection Days',
       ' Inventory Turnover Rate (times)', ' Fixed Assets Turnover Frequency',
       ' Net Worth Turnover Rate (times)', ' Revenue per person',
       ' Operating profit per person', ' Allocation rate per person',
       ' Working Capital to Total Assets', ' Quick Assets/Total Assets',
       ' Current Assets/Total Assets', ' Cash/Total Assets',
       ' Quick Assets/Current Liability', ' Cash/Current Liability',
       ' Current Liability to Assets', ' Operating Funds to Liability',
       ' Inventory/Working Capital', ' Inventory/Current Liability',
       ' Current Liabilities/Liability', ' Working Capital/Equity',
       ' Current Liabilities/Equity', ' Long-term Liability to Current Assets',
       ' Retained Earnings to Total Assets', ' Total income/Total expense',
       ' Total expense/Assets', ' Current Asset Turnover Rate',
       ' Quick Asset Turnover Rate', ' Working capitcal Turnover Rate',
       ' Cash Turnover Rate', ' Cash Flow to Sales', ' Fixed Assets to Assets',
       ' Current Liability to Liability', ' Current Liability to Equity',
       ' Equity to Long-term Liability', ' Cash Flow to Total Assets',
       ' Cash Flow to Liability', ' CFO to Assets', ' Cash Flow to Equity',
       ' Current Liability to Current Assets', ' Liability-Assets Flag',
       ' Net Income to Total Assets', ' Total assets to GNP price',
       ' No-credit Interval', ' Gross Profit to Sales',
       ' Net Income to Stockholder's Equity', ' Liability to Equity',
       ' Degree of Financial Leverage (DFL)',
       ' Interest Coverage Ratio (Interest expense to EBIT)',
       ' Net Income Flag', ' Equity to Liability'],
      dtype='object')

In [52]:
columns = ["Bankrupt?", " Working Capital to Total Assets",
" Retained Earnings to Total Assets",
" Net worth/Assets", " Current Liability to Assets", " Current Liabilities/Liability",
" Net Income to Total Assets",
" Cash Flow to Sales", " Cash Flow to Total Assets"]

In [54]:
subset = df.loc[:,columns].copy()
subset

,Bankrupt?,Working Capital to Total Assets,Retained Earnings to Total Assets,Net worth/Assets,Current Liability to Assets,Current Liabilities/Liability,Net Income to Total Assets,Cash Flow to Sales,Cash Flow to Total Assets
0,1,0.672775,0.903225,0.792424,0.147308,0.676269,0.716845,0.671568,0.637555
1,1,0.751111,0.931065,0.828824,0.056963,0.308589,0.795297,0.671570,0.641100
2,1,0.829502,0.909903,0.792484,0.098162,0.446027,0.774670,0.671571,0.642765
3,1,0.725754,0.906902,0.848535,0.098715,0.615848,0.739555,0.671519,0.579039
4,1,0.751822,0.913850,0.893491,0.110195,0.975007,0.795016,0.671563,0.622374
...,...,...,...,...,...,...,...,...,...
6814,0,0.817769,0.925611,0.875382,0.103838,0.786888,0.799927,0.671570,0.639806
6815,0,0.793387,0.932629,0.900747,0.089901,0.849898,0.799748,0.671572,0.642072
6816,0,0.866047,0.932000,0.961061,0.024414,0.553964,0.797778,0.671564,0.631678
6817,0,0.832340,0.939613,0.913021,0.083199,0.893241,0.811808,0.671606,0.684857
6818,0,0.873759,0.938005,0.985851,0.018517,1.000000,0.815956,0.672096,0.659917

In [58]:
subset["WC/TA"] = subset[" Working Capital to Total Assets"]
subset["RE/TA"] = subset[" Retained Earnings to Total Assets"]
subset["NI/TA"] = subset[" Net Income to Total Assets"]
subset["EV/TL"] = subset[" Net worth/Assets"] * 1/subset[" Current Liability to Assets"] * subset[" Current Liabilities/Liability"]
subset["S/TA"] = 1/subset[" Cash Flow to Sales"] * subset[" Cash Flow to Total Assets"]

In [63]:
fe = subset.loc[:,["Bankrupt?","WC/TA","RE/TA", "NI/TA","EV/TL","S/TA"]].copy()

      Bankrupt?     WC/TA     RE/TA     NI/TA      EV/TL      S/TA
0             1  0.672775  0.903225  0.716845   3.637889  0.949354
1             1  0.751111  0.931065  0.795297   4.490043  0.954629
2             1  0.829502  0.909903  0.774670   3.600879  0.957105
3             1  0.725754  0.906902  0.739555   5.293734  0.862283
4             1  0.751822  0.913850  0.795016   7.905629  0.926754
...         ...       ...       ...       ...        ...       ...
6814          0  0.817769  0.925611  0.799927   6.633669  0.952703
6815          0  0.793387  0.932629  0.799748   8.515396  0.956074
6816          0  0.866047  0.932000  0.797778  21.807184  0.940607
6817          0  0.832340  0.939613  0.811808   9.802325  1.019730
6818          0  0.873759  0.938005  0.815956  53.239311  0.981879

[6819 rows x 6 columns]